<!-- <section>
     <div class="contaier">
        <h1 class="text-center">SERVICES</h1>
     </div>
 </section> -->



<footer>
    <div class="container-fluid w-100 mt-5" style="background-color:#e8e8e8;">
        <div class="row ">
            <div class="col-sm-6 mt-5">
                <h4>PRODUCT ENGINEERING</h4><br>
                <li>VLSI Design. ...</li>
                <li>Systems and hardware engineering. ...</li>
                <li>Mechanical engineering. ...</li>
                <li>Embedded engineering. ...</li>
                <li>Software product engineering. ...</li>
                <li>Verification and validation. ...</li>
                <li>Product lifecycle management. ...</li>
                <li>Cognitive product support.</li><br>
                <ul>
                    <li><a href="#">EXPLORE OPPERTUNITIES<i class="bi bi-arrow-right ms-2"></i></a></li>
                </ul>
            </div>

            <div class="col-sm-6 mt-5">
                <h4>DATA ANALYTICS</h4><br>
                <li>Prescriptive</li>
                <li>Predictive</li>
                <li>Diagnostic</li>
                <li>Descriptive </li>
                <li>Cognitive Analytics</li><br>
                <ul>
                    <li><a href="#">EVENTS<i class="bi bi-arrow-right ms-2"></i></a></li>
                </ul>
            </div><hr>
            <div class="row">
                <div class="col-sm-6 mt-5">
                    <h4>IT CONSULTING & SERVICES</h4><br>
                    <li>Cloud Services.</li>
                    <li>Backup and Disaster Recovery.</li>
                    <li>Network Security.</li>
                    <li>Help Desk Support.</li>
                    <li>Managed Print Services.</li>
                    <li>Computer Training.</li>
                    <li>IT Consulting.</li><br>
                    <ul>
                        <li><a href="#">CONTENT HUB<i class="bi bi-arrow-right ms-2"></i></a></li>
                    </ul>
                </div>

                <div class="col-sm-6 mt-5">
                    <h4>CLOUD SERVICES</h4>
                    <li>SaaS.</li><br>
                    <li> BaaS.</li>
                    <li>SECaaS.</li>
                    <li> DRaaS.</li>
                    <li> DaaS.</li>
                    <li> IaaS.</li><br>

                    <ul>
                        <li><a href="#">REGISTER NOW<i class="bi bi-arrow-right ms-2"></i></a></li>
                    </ul>
                </div>
            </div>
        </div><hr>

        <div class="row">
            <div class="col-sm-6 mt-5">
                <h4>PRODUCT SOLUTIONING</h4><br>
                 <li>This is different from a service which typically refers to a business serving as a resource to help and support clients in a certain area.</li>
                 <li>A solution is an offering that aims to solve a common or specific problem with the application of a product that is tailored to individual clients.</li>
                <ul>
                    <li><a href="#">CONTENT HUB<i class="bi bi-arrow-right ms-2"></i></a></li>
                </ul>
            </div>

            <div class="col-sm-6 mt-5">
                <h4>BUSINESS CONSULTING</h4><br>
                 <li>Image result for business consulting services
                    A Business Consultant is a professional who advises,</li>
                 <li> provides information, provides insight and provides recommendations to help clients reach their goals and solve problems.</li><br>
                <ul>
                    <li><a href="#">REGISTER NOW<i class="bi bi-arrow-right ms-2"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>